<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
 xmlns:aop="http://www.springframework.org/schema/aop">
    
     <bean id="CustomerBean" class="merHotelApp.Customer">
        <property name="firstName" value="John"/>
        <property name="middleName" value="K"/>
        <property name="lastName" value="Philip"/>
        <property name="address" value="22 road along blah blah bla"/>
        <property name="checkInDate" value="22" />
        <property name="checkInMonth" value="09"/>
        <property name="checkInYear" value="1975"/>
        <property name="emailID" value="John.philip@hotmail.com"/>
        <property name="gender" value="Male"/>
        <property name="city" value="Miami"/>
        <property name="phone" value="56894561"/>
        <property name="userName" value="984568954"/>
        <property name="password" value="56894561"/>
    </bean>
    <bean id="rooms" class="merHotelApp.Rooms" >
        
         <property name="roomType" value="Deluxe King Garden" />
        <property name="noOfRooms" value="3"/>
        <property name="noOfChildren" value="2"/>
        <property name="noOfAdult" value="2"/>
 
        
    </bean>
    
    <bean id="bookRoom" class="merHotelApp.BookingDetails"  >
    <property name="customer" ref="CustomerBean"/>
    <property  name="rooms" ref="rooms"/>
    </bean>

</beans>
